@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Imports */
@import 'fonts.css';
@import 'switch.css';

/* Default CSS */
:root {
  --black: #36395a;
  --grey-color: #d1d5db;
  --primary-color: #663399;
}

html {
  color: var(--black);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: Inter;
}
